

body {
  font-family: 'hooge_05_55regular', 'MS PGothic', monospace;
  background: black;
}

@font-face {
    font-family: 'hooge_05_55regular';
    src: url('/font/hooge_05_55_regular-webfont.woff2') format('woff2'),
         url('/font/hooge_05_55_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.box {
    border: 4px solid darkred;
    width: 25%;
    margin: auto;
    background: darkred;
}

p {
  background: darkred;
  color: white;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 2px;
}

b {
    font-weight: 100;
}

.box:nth-child(2) {
    position: absolute;
    top: 8px;
    left: 60px;
}

.box:nth-child(3) {
    position: absolute;
    top: 8px;
    right: 60px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
  background: darkred;
}

a:hover {
  text-decoration: underline;
}

small {
  color: darkred;
  text-align: center;
}

.info {
  background: white;
  padding: 5px;
}
