body {
  background: black;
  color: white;
  font-family: "MS PGothic", Arial, Verdana, Tahoma, "Times New Roman";
  text-align: center;
}

small {
  color: #272727;
}


fieldset {
  width: 25%; 
  margin: auto;
  text-align: left;
}

legend {
  text-align: left;
}

a {
  color: darkgreen;
}

a:hover {
  color: blue;
}
