body {
  background: black;
  color: white;
  font-family: "MS PGothic", Arial, Verdana, Tahoma, "Times New Roman";
}

fieldset {
  width: 50%; 
  margin: auto;
}

a {
  color: darkgreen;
}

a:hover {
  color: green;
}
